%table.table.table-sm
  - company_info = api.company_info

  %tbody
    %tr
      %td Name
      %td= company_info.company_name

    %tr
      %td Country
      %td= company_info.country

    %tr
      %td Quickbooks Online
      %td
        = link_to('Revoke Access and Disconnect', effective_qb_online.revoke_quickbooks_oauth_path, class: 'btn btn-sm btn-danger', 'data-method': 'delete', 'data-confirm': 'Really disconnect from Quickbooks Online?')

    %tr
      %td Deposit to Account
      %td
        = effective_form_with(model: [:admin, api.realm], engine: true) do |f|
          .row
            .col= f.select :deposit_to_account_id, api.accounts_collection, grouped: true, label: false
            .col= f.save

    %tr
      %td Payment Method
      %td
        = effective_form_with(model: [:admin, api.realm], engine: true) do |f|
          .row
            .col= f.select :payment_method_id, api.payment_methods_collection, label: false
            .col= f.save
