= card('Test Credentials') do
  %p
    QB_REALM_ID=#{@api.realm.realm_id}
    %br
    QB_ACCESS_TOKEN=#{@api.realm.access_token}
    %br
    QB_REFRESH_TOKEN=#{@api.realm.refresh_token}
    %br
    QB_DEPOSIT_TO_ACCOUNT=#{@api.realm.deposit_to_account_id}
    %br
    QB_PAYMENT_METHOD=#{@api.realm.payment_method_id}

  %p
    %small Copy these values into effective_qb_online/.env to run the test suite
