%h1.effective-admin-heading= @page_title

- if Rails.env.development?
  = card('Test Credentials') do
    = render('test_credentials', api: @api)

= card('Company') do
  = render('company', api: @api)

= card('Sales Receipts') do
  = render_datatable(Admin::EffectiveQbReceiptsDatatable.new)
