%h1.effective-admin-heading= @page_title

- api = EffectiveQbOnline.api

- if api.blank?
  = card('Connect to QuickBooks Online') do
    = render('connect')

- if api.present?
  - if Rails.env.development?
    = card('Test Credentials') do
      = render('test_credentials', api: api)

  - if api.realm&.configured?
    .mb-2
      = collapse('Show Company Settings') do
        = render('company', api: api)
  - else
    = card('Company') do
      = render('company', api: api)

  = card('Sales Receipts') do
    .text-right.mb-2
      = link_to 'New Sales Receipt', effective_qb_online.new_admin_qb_receipt_path, class: 'btn btn-primary btn-sm'

    = render_datatable(Admin::EffectiveQbReceiptsDatatable.new)
