%h1.effective-page-title= @page_title

= render('credentials', api: @api) if Rails.env.development?
= render('company', api: @api)

= card('Sales Receipts') do
  = render_datatable(Admin::EffectiveQbReceiptsDatatable.new)
