- items_collection = EffectiveQbOnline.api.items_collection

= effective_form_with(model: [:admin, qb_receipt], engine: true) do |f|
  = f.static_field :customer_id

  %table.table.table-sm
    %thead
      %tr
        %th Order Item
        %th Quickbooks Item

    %tbody
      = f.fields_for :qb_receipt_items do |fi|
        %tr
          %td= fi.object.order_item
          %td= fi.select :item_id, items_collection, grouped: true, label: false

  = f.submit 'Save and Sync'
