= effective_form_with(model: [:admin, qb_receipt], engine: true) do |f|

  - if f.object.new_record?
    = f.select :order_id, qb_receipt_effective_orders_collection(f.object), required: true,
      label: 'Unsynchronized purchased order',
      hint: "If you don't see your purchased order in the list, it already has an existing sales receipt."

  - if f.object.persisted?
    = f.static_field :order

    = f.static_field :updated_at

    = f.static_field :status
    = f.static_field :result, label: 'QuickBooks Online Result'

    %table.table.table-sm
      %thead
        %tr
          %th Id
          %th Order Item
          %th Existing Name
          %th QuickBooks Online Item

      %tbody
        - items_collection = EffectiveQbOnline.api.items_collection
        - items = items_collection.flatten(2)

        = f.fields_for :qb_receipt_items do |fi|
          %tr
            %td= fi.object.order_item_id
            %td= fi.object.order_item
            %td
              - if fi.object.item_id.present?
                - existing = items.find { |(name, id)| id == fi.object.item_id }&.first

              = existing || fi.object.order_item_qb_name || '-'

            %td= fi.select :item_id, items_collection, grouped: true, label: false, template: :html

  = f.submit 'Save and Sync'
